<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

<title>مکاتبات</title>

<meta name="description" content="">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="~/img/favicon/favicon.ico">

<!-- Icons. Uncomment required icon fonts -->
<link rel="stylesheet" href="~/vendor/fonts/boxicons.css">
<link rel="stylesheet" href="~/vendor/fonts/fontawesome.css">

<!-- <link rel="stylesheet" href="~/vendor/fonts/fontawesome.css" /> -->
<!-- <link rel="stylesheet" href="~/vendor/fonts/flag-icons.css" /> -->
<!-- Core CSS -->
<link rel="stylesheet" href="~/vendor/css/rtl/core.css">
<link rel="stylesheet" href="~/vendor/css/rtl/theme-default.css">
<link rel="stylesheet" href="~/css/demo.css">
<link rel="stylesheet" href="~/vendor/css/rtl/rtl.css">

<!-- Vendors CSS -->
<link rel="stylesheet" href="~/vendor/libs/perfect-scrollbar/perfect-scrollbar.css">

<!-- Page CSS -->
<!-- Helpers -->
<script src="~/vendor/js/helpers.js"></script>

<!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
<!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
<script src="~/js/config.js"></script>